@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Comic+Relief');

/* about me */
.aboutme_area 
{
    width: 80%;
    max-width: 900px;
    height: 500px;
    margin: 50px auto;
    /* border-bottom: 1px solid rgb(253,210,43); */
}

.aboutme_box 
{
    padding: 20px;

    border-top: 1px solid rgb(253,210,43);
    /* border-left: none;
    border-right: none; */
    /* border-radius: 0 12px 12px 12px; */
    margin: 0 auto;
    margin-top: -2px;
    
    /* min-height: 300px; */
    
}

.aboutme_box img
{
  display: block;
  margin: 0 auto;
  width: 100%;
  aspect-ratio: 16 / 9;
  
  /* border: 1px solid rgb(253,210,43);
  border-left: none;
  border-right: none; */
}

/* タブボタン */
.tab_buttons 
{
    display: flex;
    justify-content: flex-end;
    gap: 6px;
  
}

.tab 
{
    width: 20%;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    border: 1px solid rgb(253,210,43);
    border-radius: 12px;
    transition: background-color 0.2s, color 0.2s; /* なめらか */
}

/* ハイライト */
.tab:hover 
{
    background-color: rgba(222, 202, 138, 0.2); 
}

.tab.active 
{
    /* margin-top: -6px;
    padding-top: 16px; */
    background-color: rgb(253,210,43);
    color: white;
}


.tab_contents 
{
    min-height: 200px;   /* 高さを固定 */
}

/* 中身 */
.tab_content 
{
    display: none;
}

.tab_content.active 
{
    display: block;
}

/* profile */
.profile_list
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* 1行 */
.profile_row
{
    display: flex;
    align-items: center;
    gap: 16px;
}

/* ラベル */
.profile_topic
{
    width: 100px;
    height: 32px;


    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    font-size: 0.9rem;
    color: white;
    background-color: rgb(253,210,43);
}

/* 内容 */
.profile_value
{
    padding: 6px 12px;
    border-radius: 8px;
}

